<%= simple_form_for(@order) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.label :pay_type %>
    <%= f.select :pay_type, Order::PAYMENT_TYPES %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
