<p id="notice"><%= notice %></p>

<h1>Listing Orders</h1>

<table>
  <thead>
    <tr>
      <th>Pay type</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.pay_type %></td>
        <td><%= order.user %></td>
        <td><%= order.total_price %></td>
        <td><%= link_to 'Show', admin_order_path(order) %></td>
        <td><%= link_to 'Edit', admin_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= form_for(order) do |f| %>
        <%= f.select :status, Order::STATUS %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>

<script>
  $(function(){
    $("form select").on("change",function(){
      $(this).parent("form").submit();
    });
  })
</script>
