<p id="notice"><%= notice %></p>

<p>
  <strong>Pay type:</strong>
  <%= @order.pay_type %>
</p>

<p>
  <strong>User:</strong>
  <%= @order.user %>
</p>

<p>
	<strong>Products:</strong>
  <p>Product Quantity Unit Price Full Price</p>
	<% @order.line_items.each do |item| %>
		<p><%= item.product.name %> <%= item.quantity %> <%=item.product.price%> <%=item.total_price %></p>
	<% end %>
</p>

<p>
  <strong>Total Price:</strong>
  <%= @order.total_price %>
</p>

<%= link_to 'Edit', edit_admin_order_path(@order) %> |
<%= link_to 'Back', admin_orders_path %> |
<%= link_to "Download Invoice (PDF)", admin_order_path(@order, format: "pdf")%>

