<ul>
	<% @cart.line_items.each do |item| %>
		<li><%= item.quantity %> x <%= item.product.name %>
			<%= item.total_price %> </li>
	<% end %>
	<%= @cart.total_price %>
</ul>
<%= button_to "Checkout", new_order_path, method: :get %>
<%= button_to 'Empty cart', @cart, method: :delete, data: { confirm: 'Are you sure?' } %> 
<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>


