<h1> Listing Categories </h1>

<%= link_to "New Category", new_admin_category_path %>
<br>
<% @categories.each do |category| %>
	<tr>
		<td><%= category.name %></td>
		<td><%= link_to "Show", admin_category_path(category) %></td>
		<td><%= link_to "Edit", edit_admin_category_path(category)%></td>
		<td><%= link_to "Delete", admin_category_path(category), method: :delete, data: {confirm: 'Are you sure?', class:"button" }%></td><br></tr>
<% end %>



