<h1> Listing Products </h1>

<%= link_to "New Product", new_admin_product_path %>
<br>
<% @products.each do |product| %>
	<tr>
		<td><%= product.name %></td>
		<td><%= product.category_id %></td>
		<td><%= link_to "Show", admin_product_path(product) %></td>
		<td><%= link_to "Edit", edit_admin_product_path(product)%></td>
		<td><%= link_to "Delete", admin_product_path(product), method: :delete, data: {confirm: 'Are you sure?', class:"button" }%></td><br></tr>
<% end %>
