<p>Name: <%= @product.name%></p>
<p>Price: <%= @product.price%></p>
<p>Stock: <%= @product.stock%></p>

<%= link_to "Edit", edit_admin_product_path(@product)%>
<%= link_to "Back", admin_products_path %>

