<h1> Listing Products </h1>

<br>
<% @products.each do |product| %>
	<tr>
		<td><%= link_to product.name, product_path(product) %></td>
		<td><%= product.category_id %></td>
		<td><%= number_to_euro(product.price) %></td>
		<td><%= product.stock %></td>
		<td><%= image_tag(product.image.thumb) %></td>
		<br>
		</tr>
<% end %>
