<h1> <%= @category.name %> Products </h1>

<br>
  <div class="col-md-6 col-md-offset-3"</div>
		<% @products.each do |product| %>
			<tr>
				<div class="box panel panel-default prod">
					<td><%= link_to product.name, category_product_path(@category, product) %></td><br>
					<td>Price <%= number_to_euro(product.price) %></td><br>
					<td><%= image_tag(product.image.url) %></td><br></div>
				</tr>
		<% end %>
	</div>
<%= will_paginate @products %>




