<p>Name: <%= @product.name%></p>
<td><%= @product.price %></td>
<td><%= @product.stock %></td>
<p><%= link_to "Add to cart", add_cart_path, method: :post, :class => "btn btn-primary" %></p>
<%= link_to "Back", root_path %>